.Header{
    height: 5vh;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
    background-color: maroon;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.links a{
    text-decoration: none;
    color: silver;
}

.active{
    color: black;
}