.head{
    height: 8vh;
    background-color: var(--header_background);
    justify-content: flex-end;
    align-items: flex-end;
}



.header{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 25px;
}

.links{
    display: flex;
    justify-content: space-around;
    width: 80%;
}

.links a{
    text-decoration: none;
    color: var(--link_color);
}

.user{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-right: 2vw;
    height: 4vh;
    margin-top: -3vh;
}

h4{
    margin-right: 10px;
    color: silver;
}

.switcher{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 50vw;
    color: black;
}