body{
    height: 100vh;
    width: 100vw;
    margin: 0;
    display: flex;
    justify-content: center;
}

section{
    width: 321px;
    height: 491px;
    background: rgba(217, 217, 217, 0.3);
    border: 4px solid #554C4C;
    margin-left: 132px;
    position: relative;
    margin-top: 245px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chess{
    border-color: #65856E;
}


.text{
    height: 100%;
    width: 100%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

p{
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 20px;
    line-height: 24px;
    text-align: center;
}

b{
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 48px;
}

.joy-kid{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border: 4px solid #554C4C;
    border-radius: 50%;
    margin-top: -500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.chess-kid{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border: 4px solid #65856E;
    border-radius: 50%;
    margin-top: -500px;
    display: flex;
    justify-content: center;
    align-items: center;
;

}

.battle-kid{
    position: absolute;
    width: 100px;
    height: 100px;
    background: #FFFFFF;
    border: 4px solid #554C4C;
    border-radius: 50%;
    margin-top: -500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

