.Header{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 75px;
    background-color: mediumvioletred;
    font-size: 30px;
}

.Header a{
    text-decoration: none;
    color: midnightblue;
    margin: 0 25px;
}