body{
    height: 700px;
    background-color: bisque;
    display: flex;
    justify-content: space-around;
    margin: 0;

}

div {
    height: 100px;
    width: 100px;
    background-color: red;
    margin: auto;
}

.square:hover{
    transition: 0.5s;
    background-color:  darkgray;
    border-radius: 50px;
}